{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% load static %}

<script>


    $(document).ready(function() { 
        $("table") 
        .tablesorter({widthFixed: true, widgets: ['zebra']}) 
        .tablesorterPager({container: $("#pager")}); 
    }); 

</script>
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Property List</h1>
                <a href="/property/add_property" class="btn btn-danger btn-pill">Add <i class="fa fa-plus"></i></a>

            </div>
            <!-- PAGE-HEADER END -->


            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Property List</h3>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <div class="table-responsive">
                                    <table class="table border text-nowrap text-md-nowrap table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>Location</th>
                                                <th>Features</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- TABLE DETAILS -->
                                            {% for tenant in data %}
                                            <tr>
                                                <td>{{tenant.vchr_name}}</td>
                                                <td>{{tenant.vchr_address}}</td>
                                                <td>{{tenant.vchr_location}}</td>
                                                <td>{{tenant.txt_features}}</td>
                                                <td><a class="btn btn-primary" href="/property/view_property/{{tenant.pk_bint_id}}">
                                                    <i class="side-menu__icon fe fe-eye text-white"></i>
                                                </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            <!-- TABLE DETAILS END -->
                                        </tbody>
                                    </table>

                                </div>
                                <div class="card-body">

                                    <ul class="pagination">
                                        <li class="page-item page-prev">
                                            {% if data.has_previous %}
                                                <a class="page-link" href="?page=1" tabindex="-1">Prev</a>
                                            {% else %}
                                                <span class="page-link">Prev</span>
                                            {% endif %}
                                        </li>
                                        {% for page in data.paginator.page_range %}
                                            <li class="page-item {% if page == data.number %}active{% endif %}">
                                                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                            </li>
                                        {% endfor %}
                                        <li class="page-item page-next">
                                            {% if data.has_next %}
                                                <a class="page-link" href="?page={{ data.paginator.num_pages }}">Next</a>
                                            {% else %}
                                                <span class="page-link">Next</span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                    <!-- pagination-wrapper -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!-- CONTAINER END -->
        </div>
    </div>
    <!--app-content close-->


    {% endblock %}

