{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% load static %}

<script>

    $(document).ready(function() { 
        $("table") 
        .tablesorter({widthFixed: true, widgets: ['zebra']}) 
        .tablesorterPager({container: $("#pager")}); 
    }); 

</script>
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            <form  action="search_list" method="post" class="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">


                    <!-- DETAILS START -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Search</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% if error_message %}
                                    <div class="error-message" id="error-message">
                                        <span class="close" onclick="closeErrorMessage()" >&times;</span>
                                        <span style="display: flex;justify-content: center;"><span class="text-danger">{{ error_message }}</span></span>
                                    </div>
                                    {% endif %}
                                </div>
                                
                                <div class="row">

                                    <!--  Title -->
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label"> Search<span class="text-danger">*</span>:</label>
                                            <input type="text" class="form-control" placeholder=" Search" name="str_search" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="mt-5">
                                            <button type="submit" class="btn btn-warning btn-pill">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>



            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Tenant List</h3>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <div class="table-responsive">
                                    <table class="table border text-nowrap text-md-nowrap table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>Property</th>
                                                <th>Unit Type</th>
                                                <th>Rent</th>
                                                <th>Rent Date</th>
                                                <th>Agreement End Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- TABLE DETAILS -->
                                            {% for tenant in lst_tent %}
                                            <tr>
                                                <!-- <td>
                                                    <img class="d-block img-fluid br-5 img-td"
                                                        src="media/{{tenant.image}}" alt="">
                                                </td> -->
                                                <td>{{tenant.fk_tenant_id__vchr_name}}</td>
                                                <td>{{tenant.fk_tenant_id__vchr_address}}</td>
                                                <td>{{tenant.fk_property_id__vchr_name}}</td>
                                                <td>{{tenant.fk_unit_types_id__vchr_name}}</td>
                                                <td>{{tenant.dbl_rent}}</td>
                                                <td>{{tenant.dat_rent_payout}}</td>
                                                <td>{{tenant.dat_agreement_end}}</td>
                                                
                                            </tr>
                                            {% endfor %}
                                            <!-- TABLE DETAILS END -->
                                        </tbody>
                                    </table>

                                </div>
                                <div class="card-body">

                                    <ul class="pagination">
                                        <li class="page-item page-prev">
                                            {% if lst_tent.has_previous %}
                                                <a class="page-link" href="?page=1" tabindex="-1">Prev</a>
                                            {% else %}
                                                <span class="page-link">Prev</span>
                                            {% endif %}
                                        </li>
                                        {% for page in lst_tent.paginator.page_range %}
                                            <li class="page-item {% if page == lst_tent.number %}active{% endif %}">
                                                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                            </li>
                                        {% endfor %}
                                        <li class="page-item page-next">
                                            {% if lst_tent.has_next %}
                                                <a class="page-link" href="?page={{ lst_tent.paginator.num_pages }}">Next</a>
                                            {% else %}
                                                <span class="page-link">Next</span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                    <!-- pagination-wrapper -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!-- CONTAINER END -->

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Property List</h3>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <div class="table-responsive">
                                    <table class="table border text-nowrap text-md-nowrap table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>Location</th>
                                                <th>Features</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- TABLE DETAILS -->
                                            {% for tenant in lst_property %}
                                            <tr>
                                                <td>{{tenant.fk_property_id__vchr_name}}</td>
                                                <td>{{tenant.fk_property_id__vchr_address}}</td>
                                                <td>{{tenant.fk_property_id__vchr_location}}</td>
                                                <td>{{tenant.fk_property_id__txt_features}}</td>
                                            </tr>
                                            {% endfor %}
                                            <!-- TABLE DETAILS END -->
                                        </tbody>
                                    </table>

                                </div>
                                <div class="card-body">

                                    <ul class="pagination">
                                        <li class="page-item page-prev">
                                            {% if lst_property.has_previous %}
                                                <a class="page-link" href="?page=1" tabindex="-1">Prev</a>
                                            {% else %}
                                                <span class="page-link">Prev</span>
                                            {% endif %}
                                        </li>
                                        {% for page in lst_property.paginator.page_range %}
                                            <li class="page-item {% if page == lst_property.number %}active{% endif %}">
                                                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                            </li>
                                        {% endfor %}
                                        <li class="page-item page-next">
                                            {% if lst_property.has_next %}
                                                <a class="page-link" href="?page={{ lst_property.paginator.num_pages }}">Next</a>
                                            {% else %}
                                                <span class="page-link">Next</span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                    <!-- pagination-wrapper -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!--app-content close-->




    {% endblock %}

