
{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% load static %}

<script>
    function closeErrorMessage() {
        document.getElementById('error-message').style.display = 'none';
    }
</script>
<style>
    /* Style for the error message div */
    .error-message {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #d9534f;
        border-radius: 4px;
        color: #d9534f;
        background-color: #f2dede;
    }

    /* Style for the close button */
    .close {
        float: right;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
</style>
<form  action="user_profile" method="POST" class="" enctype="multipart/form-data">
    {% csrf_token %}
  <!--app-content open-->
          

            <!-- {% if error_message %}
            <h3 style="display: flex;justify-content: center;color: red;"><p>{{ error_message }}</p></h3>
            {% endif %} -->
            <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">
                        {% if error_message %}
                        <div class="error-message" id="error-message">
                            <span class="close" onclick="closeErrorMessage()" >&times;</span>
                            <span style="display: flex;justify-content: center;">{{ error_message }}</span>
                        </div>
                        {% endif %}
                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Property View</h1>
                            
                        </div>
                        <!-- PAGE-HEADER END -->
 <!-- ROW-1 OPEN -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card" >
                                    <div class="row" style="padding-left:5%">
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label"> Name<span class="text-danger">*</span>:</label>
                                            {{ins_property.vchr_name}}
                                        </div>
                                    </div>
                                    <!--  Subtitle -->
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Address<span class="text-danger">*</span>:</label>
                                            {{ins_property.vchr_address}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Location<span class="text-danger">*</span>:</label>
                                            {{ins_property.vchr_location}}
                                        </div>
                                    </div>

                                    <!-- Description -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Features<span class="text-danger">*</span>:</label>
                                            {{ins_property.txt_features}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="page-header">
                                        <h1 class="page-title">Units</h1>
                                        
                                    </div>
                                    {% for itr_units in ins_units %}
                                    <div class="card" >
                                        <div class="row">
                                            <div class="col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label"> Unit Type<span class="text-danger">*</span>:</label>
                                                    {{itr_units.fk_unit_types_id__vchr_name}}
                                                </div>
                                            </div>
                                            <!--  Subtitle -->
                                            <div class="col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Rent<span class="text-danger">*</span>:</label>
                                                    {{itr_units.dbl_rent}}
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Tenant Name<span class="text-danger">*</span>:</label>
                                                    {{itr_units.fk_tenant_id__vchr_name}}
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Agreement End Date<span class="text-danger">*</span>:</label>
                                                    {{itr_units.dat_agreement_end}}
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Rent date<span class="text-danger">*</span>:</label>
                                                    {{itr_units.dat_rent_payout}}
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                         
                                    {% endfor %}
                                </div>
                            


                            </div>

                                
                                
                            </div>
                        </div>
                        <!-- ROW-1 CLOSED -->



                    </div>
                    <!-- CONTAINER END -->
                </div>
            </div>
            <!--app-content close-->
</form>

            {% endblock %}
